.contactSection {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    padding: 5rem 0 0 0;
    background-image: url("/media/Grill House-formbckg.png");
    background-repeat: no-repeat;
    background-position: center top 80px;
    background-size: cover;

}

.contactSection form {
    padding-bottom: 6rem;
}


.subtitle {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
}



.heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 600px;
    margin-inline: auto;

}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.inputGroup input,
.inputGroup textarea {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    transition: border 0.2s ease;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
    border-color: #666;
    outline: none;
}

.inputGroup textarea {
    resize: vertical;
    min-height: 100px;
}

.submitButton {
    padding: 0.75rem;
    background-color: #BF1C0E;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submitButton:hover {
    background-color: #8e1007;
}

.inputGroup input,
.inputGroup textarea {
    font-family: 'Copperplate', sans-serif;
}
.inputGroup input::placeholder,
.inputGroup textarea::placeholder {
    font-family: 'Copperplate', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.55);
    opacity: 1;
}

.successBanner {
    background-color: #d1fae5;
    color: #065f46;
    font-weight: 600;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    margin: 1rem auto;
    border: 1px solid #6ee7b7;
    max-width: 600px;
    width: 100%;
}

@media (max-width: 600px) {
    .contactSection {
            max-width: 600px;
            margin: 0 auto;
            padding: 70px 20px;

    }
}
