@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Bree+Serif&family=Koulen&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.contactSection {
    scroll-margin-top: 60px;
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: inherit;
    min-height: 550px;
}

.contactInfo {
    width: 45%;
    padding: 3rem 4rem;
}

.mapContainer {
    width: 55%;
    height: 550px;
    margin-top: 80px;
}

.mapContainer iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin-bottom: 20px;
}

.sectionTitle {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: 'Copperplate', sans-serif;
    color: #000;
}

.contactGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.contactItem {
    width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
}

.contactLabel {
    font-size: 1.5rem;
    color: #ba3522;
    margin-bottom: 0.75rem;

}

.contactValue {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #333;
    font-family: sans-serif;
}

.icon {
    margin-right: 0.75rem;
    color: #666;
    display: flex;
    align-items: center;
}

.contactImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 350px;
    height: auto;
    border-radius: 8px;


}

@media (max-width: 1200px) {
    .contactInfo {
        padding: 3rem 2rem;
    }
}

@media (max-width: 992px) {
    .contactSection {
        flex-direction: column;
    }

    .contactInfo, .mapContainer {
        width: 100%;
    }

    .mapContainer {
        height: 400px;
    }
    .sectionTitle {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contactGrid {
        grid-template-columns: 1fr;
    }

    .contactImage {
        max-width: 80%;
        margin-top: 2rem;
    }
    .sectionTitle {
        text-align: center;
    }
    .contactImage {
        max-width: 220px;

    }
}
