.contactSection {
    scroll-margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 550px;
}

/* Left side: contact info */
.contactInfo {
    width: 50%;
    background-color: inherit; /* deep dark background */
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Right side: map */
.mapContainer {
    width: 50%;
    height: auto;
    padding-right: 2rem; /* ← this adds space on the right side */
    box-sizing: border-box; /* ensures padding doesn't break layout */
    padding-top: 20px;
}

.mapContainer iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 12px; /* ← Rounded corners */
}

/* Typography and spacing */
.sectionTitle {
    font-size: 2.5rem;
    font-family: 'Copperplate', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    color: black;
    position: relative;
}

.sectionTitle::after {
    content: '';
    display: block;
    width: 350px;
    height: 3px;
    background-color: #ba3522;
    margin: 0.5rem auto 0 auto;
}

.contactGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
}

.contactItem {
    width: calc(50% - 1rem);
}
.contactImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 350px;
    height: auto;
    border-radius: 8px;


}

.contactLabel {
    color: #ba3522;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.contactValue {
    color: black;
    font-size: 0.95rem;
}

/* Responsive layout */
@media (max-width: 992px) {
    .contactSection {
        flex-direction: column;
    }

    .contactInfo, .mapContainer {
        width: 100%;
    }

    .mapContainer {
        height: 400px;
        padding-right: 0; /* ← this adds space on the right side */

    }

    .mapContainer iframe {
        border-radius: 0; /* ← Rounded corners */
    }
}