@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.footer {
    width: 100%;
    background-color: #111;
    color: white;
    padding: 2rem 1.5rem 1rem;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.77);
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    display: flex;
    align-items: center;
}

.socialLinks {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.socialIcon svg {
    stroke: white;
    transition: stroke 0.3s;
}

.socialIcon:hover svg {
    stroke: #f87171;
}

.bottomRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    color: #aaa;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
}

.bottomRow span {
    margin: 0.25rem 0;
}

.credit {
    font-size: 13px;
    color: #aaa;
}

.creditLink {
    color: #f87171;
    text-decoration: underline;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.creditLink:hover {
    color: #ffa3a3;
    text-shadow: 0 0 5px #f87171;
    cursor: pointer;
}


@media (max-width: 565px) {

    .bottomRow {
        justify-content: center;
        text-align: center;
    }
}