/* Footer.module.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.footer {
    margin-top: 20px;
    /*background-color: #ba3522;*/
    background-color: black;
    color: white;
    padding: 2rem 0;
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLeft {
    display: flex;
    flex-direction: column;
}

.logo img,
.logoImage {
    height: 130px; /* Adjust size as needed */
    width: auto;
    object-fit: contain;
    display: block;
    cursor: pointer;


}
.contactInfo {
    display: flex;
    gap: 2rem;
}

.contactItem {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.copyright {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
}

.socialLinks {
    display: flex;
    gap: 1rem;
}

.socialIcon {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.socialIcon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0 2rem;
        text-align: center;
    }

    .contactInfo {
        justify-content: center;
    }

    .copyright {
        order: 3;
    }
}

@media (max-width: 768px) {
    .contactInfo {
        flex-direction: column;
        gap: 0.75rem;
    }

    .contactItem {
        justify-content: center;
    }
}