/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Bree+Serif&family=Koulen&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Copperplate', sans-serif;
  font-weight: 700;
  background-color: #F8F8F2;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: bold;
}

button {
  cursor: pointer;
}

/* General Container */
.container {
  width: 100%;
  margin: 0 auto;
  /*padding: 20px;*/
}

